body,h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}

.bgimg {
  background-image: url('images/landing_background.jpg');
  min-height: 100%;
  background-position: center;
  background-size: contain;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid red;
  background: inherit;

}

input[type=text]:focus {
  outline: none;
}
